<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MexaTur</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../public/style.css" />

    <!-- Google Font Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- SweetAlert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body>
    <section>
      <header class="headerProfile">
        <article>
          <article>
            <img id="back" class="miniImg" src="../img/backRed.png" />
          </article>
          <article>
            <img class="secondaryLogoImg" src="../img/secondaryLogo.png" />
          </article>
        </article>

        <article>
          <img class="userImg" src="../img/user.png" />
          <article id="userNameProfile" class="subtitle"></article>
          <article>
            <input
              class="swal2-confirm swalBtnColor swal2-styled"
              type="button"
              id="btnSearch"
              value="Buscar Destinos"
            />
          </article>
          <br />
        </article>
      </header>
    </section>

    <section>
      <main>
        <article>
          <article class="title">Destinos Guardados</article>
        </article>
        <div id="savedDestinations" class="resultSave"></div>
      </main>
    </section>

    <!-- Scripts -->

    <script>
      document.getElementById("back").addEventListener("click", () => {
        window.location.href = "../index.html";
      });

      document.getElementById("btnSearch").addEventListener("click", () => {
        window.location.href = "./search.html";
      });
    </script>

    <script>
      document.getElementById("userNameProfile").innerHTML = `
      Correo: ${localStorage.usuario} <br />
      `;
    </script>
  </body>
</html>
