<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MexaTur</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../public/style.css" />

    <!-- Google Font Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- SweetAlert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <header class="botonera">
      <img class="miniLogo" src="../img/mainLogo5.png" />
      <!--<img class="miniBucar" src="../img/busqueda.png" />-->
      <img id="back" class="miniImg" src="../img/cerrar-sesion.png" />
  </header>
  <body>
    <section>
      <article>
        <img class="userImg" src="../img/perfil.png" />
        <article id="userNameProfile" class="userData"></article>
        <br />
      </article>
      <article>
        <input
          class="btnSearch"
          type="button"
          id="btnSearch"
          value="Buscar Destinos"
        />
      </article>
    </section>
 <!---->
    <section class="wrapper">
      <article>
        <article class="DGuardados">Destinos Guardados</article>
      </article>
      <article>
        <section id="products"></section>
      </article>
    </section>
    
    
    <!-- Scripts -->
   <script src="../public/Destinations.js"></script>
    <script>
      document.getElementById("back").addEventListener("click", () => {
        window.location.href = "../index.html";
      });

      document.getElementById("btnSearch").addEventListener("click", () => {
        window.location.href = "./search.html";
      });
    </script>

    <script>
      document.getElementById("userNameProfile").innerHTML = `
      Nombre: ${localStorage.usuarioN} <br />
      Correo: ${localStorage.usuario} <br />
      `;
    </script>
  </body>
</html>
