<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MexaTur</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../public/style.css" />

    <!-- Google Font Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- SweetAlert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <header class="botonera">
      <img id="back" class="back" src="../img/back.png" />
      <img class="miniLogo" src="../img/mainLogo5.png" />
      <!--<img class="miniBucar" src="../img/busqueda.png" />-->    
  </header>
  <body>
    
    <section>
      <header class="headerProfile">
        <article>
          <article>
            <article class="title">B&uacute;squeda</article>
          </article>
        </article>
      </header>
    </section>

    <section>
      <main>
        <section class="wrapper">
          <article>
            <article>
              <input
                spellcheck="false"
                autocomplete="off"
                id="search-input"
                class="swal2-input searchDestination"
                type="text"
                placeholder="Buscar destino aqu&iacute;."
              />
            </article>
            <article>
              <input
                class="swal2-confirm swalBtnColor swal2-styled search"
                type="button"
                id="search"
                value="Buscar"
              />
            </article>
          </article>

          <article class="filtros">
            <section id="buttons">
              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('all')"
              >
                Todos
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('BajaCalifornia')"
              >
                BajaCalifornia
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('BajaCaliforniaSur')"
              >
                BajaCaliforniaSur
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Chiapas')"
              >
                Chiapas
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Chihuahua')"
              >
                Chihuahua
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('CiudadDeMexico')"
              >
                CiudadDeMexico
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Colima')"
              >
                Colima
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('EstadoDeMexico')"
              >
                EstadoDeMexico
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Guanajuato')"
              >
                Guanajuato
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Guerrero')"
              >
                Guerrero
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Hidalgo')"
              >
                Hidalgo
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Jalisco')"
              >
                Jalisco
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Michoacan')"
              >
                Michoacan
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Nayarit')"
              >
                Nayarit
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Oaxaca')"
              >
                Oaxaca
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Puebla')"
              >
                Puebla
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Queretaro')"
              >
                Queretaro
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('QuintanaRoo')"
              >
                QuintanaRoo
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('SanLuisPotosi')"
              >
                SanLuisPotosi
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Sinaloa')"
              >
                Sinaloa
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Veracruz')"
              >
                Veracruz
              </button>

              <button
                class="button-value buttonsFilter"
                onclick="filterProduct('Yucatan')"
              >
                Yucatan
              </button>
            </section>
            <div id="errorMessage"></div>
            <section id="products"></section>
          </article>
        </section>
      </main>
    </section>

    <!-- Scripts -->
    <script src="../public/Destinations.js"></script>

    <script>
      document.getElementById("back").addEventListener("click", () => {
        window.location.href = "./profile.html";
      });
    </script>

    <script>
      document.getElementById("search").addEventListener("click", () => {
        alert("No hay resultados para esta busquedad");
      });
    </script>
  </body>
</html>
