* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ff0080;
  font-family: "Montserrat", sans-serif;
  color: #17202a;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fdfdfc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

header {
  padding-bottom: 1rem;
  background-color: #fdfdfc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
}

input {
  padding: 0.5rem;
  background-color: #e5e7ea;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  width: 90%;
}

input:focus {
  outline: none !important;
  border: 1px solid #bb025f;
  box-shadow: 0 0 10px #df0070;
}

input[type="button"] {
  color: #fdfdfc;
  font-size: 1.2rem;
  width: 60%;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #df0070;
}

input[class="btnLogin"] {
  background-color: #fff;
  color: #15162f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
}

.mainLogo {
  width: 40%;
}

.userImg {
  width: 20%;
  border-radius: 80%;
}

.title {
  color: #15162f;
  font-weight: 900;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}

.subtitle {
  color: #15162f;
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.swal2-styled.swal2-confirm.swalBtnColor {
  color: #fff;
  background-color: #df0070;
  font-family: "Montserrat", sans-serif;
}


