* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f953c6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f953c6,
    #b91d73
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f953c6,
    #b91d73
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Montserrat", sans-serif;
  color: #17202a;
}

main {
  background-color: #fdfdfc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
}

section {
  padding-top: 3rem;
}

header {
  padding-bottom: 1rem;
  background-color: #fdfdfc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
}

input {
  padding: 0.5rem;
  background-color: #e5e7ea;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  width: 90%;
}

input :focus {
  outline: 0 none;
}

input[class="btnRegister"] {
  color: #fdfdfc;
  font-size: 1.2rem;
  width: 60%;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #b91d73;
}

input[class="btnLogin"] {
  font-size: 1.4rem;
  font-weight: 700;
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #fff;
  color: #15162f;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

p.blankP {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 1rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-weight: 600;
}

a:link {
  color: #b91d73;
}

a:visited {
  color: #b91d73;
}

a:hover {
  border-bottom: 1px solid;
  background: #dbb7ca;
}

a:active {
  background: #b91d73;
  color: #dad3d6;
}

.headerProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  width: 100%;
}

.secondaryLogoImg {
  max-width: 300px;
}

.mainLogo {
  width: 38%;
}

.userImg {
  padding-top: 1.5rem;
  width: 30%;
  border-radius: 80%;
}

.miniImg {
  max-width: 40px;
  padding-top: 1rem;
}

.title {
  color: #15162f;
  font-weight: 900;
  font-size: 2.8rem;
  margin-top: 2rem;
}

.title.blank {
  color: #fff;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.subtitle {
  color: #15162f;
  font-weight: 800;
  font-size: 1.8rem;
}

.subtitle.pink {
  padding-top: 10px;
  color: #b91d73;
}

.swal2-styled.swal2-confirm.swalBtnColor {
  color: #fff;
  background-color: #b91d73;
  font-family: "Montserrat", sans-serif;
}

.swal2-title.swalTitle {
  font-weight: 800;
}

.swal2-validation-message.validationColor {
  font-weight: 600;
}

.swal2-confirm.swalBtnColor.swal2-styled.search {
  width: 6rem;
}

.swal2-input.searchDestination {
  width: 65%;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}
#search-container {
  margin: 1em 0;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}
#search-container input:focus {
  border-bottom-color: #b91d73;
}
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #b91d73;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}
.button-value {
  border: 2px solid #b91d73;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #b91d73;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.active {
  background-color: #b91d73;
  color: #ffffff;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}
.card {
  background-color: #ffffff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.card:hover {
  cursor: pointer;
}

.image-container {
  text-align: center;
}
img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}

.buttonsFilter {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.imgDestination {
  width: 90%;
  height: 400px;
}

.longText {
  text-align: justify;
  padding: 1rem;
  text-indent: 1rem;
}

.rating {
  display: inline-block;
  font-size: 0;
  position: relative;
  text-transform: capitalize;
  padding: 0 50px 8%;
  color: gray;
}

label {
  float: right;
  padding: 0;
  font-size: 50px;
  cursor: pointer;
}
label::before {
  content: "\2606";
  padding-bottom: 8px;
  display: inline-block;
  transition: 0.2s;
}
span {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 20px;
  font-size: 1rem;
  white-space: nowrap;
  transition: 0.15s ease-out;
  pointer-events: none;
  letter-spacing: -2px;
  transform: translateY(-50%);
}
label:hover span {
  opacity: 1;
  transform: none;
  letter-spacing: 0;
}
input:checked ~ label::before {
  content: "\2605";
  color: orange;
  filter: drop-shadow(0 0 4px);
  transform: rotate(0.2turn);
  transition-delay: calc(0.1 * attr(data-idx integer));
}

.resultSave {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}

.deleteImg {
  width: 50%;
}
